.env
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
ENV/
env/
.idea/
.vscode/
data/faiss_index/
data/index/
node_modules/
dist/
.env.local
.env.development.local
.env.test.local
.env.production.local
*.db
